<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
<div class="container text-center">
    <div class="p-3 mb-2 bg-success text-white">
        <strong>About</strong><br>
        <p>
            This is a pretty basic website created by Mohammed Rakib.<br>
            I am learning the django basics and this website is a random password<br>
            generator that generates password with options to add numbers, special characters and uppercase
            letters to the password.
        </p>
        <a href="{% url 'home' %}" class="btn btn-primary">Home</a>
    </div>
</div>


</body>
</html>